.gameboard {
  border: 1px solid #333;
  display: inline-block;
}
  .gameboard tr {
    height: 5px; }
    .gameboard tr td {
      width: 5px; }
      .gameboard tr td.alive {
        background-color: #00FF00; }

.alive {
    fill: #2d578b;
}

.dead {
    fill: white;
}